body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/*--------------------temporary-----------------------------------*/

.temporary-element {
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
}

/*--------------------NAV BAR-----------------------------------*/
.navbar {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10vh;
    padding-right: 5%;
    padding-top: 2.5%;

}

a {
    color: black;
    background-color: transparent;
    border: none;
    height: 10vh;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: 100%;

}

a:hover {
    cursor: pointer;
    color: #ee3d57;
}

a:active {
    cursor: pointer;
    color: #ee3d57;
}

/*--------------------- banner----------------------------------*/

.jumbotron {
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.lexmark-banner {
    height: 85vh;
    display: block;
    width: 100%;
}

.jumbotron p {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 800%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    padding-right: 15%;
    padding-left: 7%;
    top: 15%;
    left: 10%;
    /*transform: translate(-50%, -50%);*/
}

.line1 {
    margin-top: 10px;
    border-top: 2px solid white;
    width: 65%;
    text-align: center;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line2 {
    margin-top: 10px;
    border-top: 2px solid white;
    width: 65%;
    text-align: center;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------ End of Diary banner------------------*/

/* ------------------- universal stuff ----------------*/
.normal {
    font-weight: 300;
    font-size: 120%;
    line-height: 170%;
    font-family: 'Roboto', Arial, sans-serif;
}

.line3 {
    margin-top: 3%;
    border-top: 2px solid #ee3d57;
    width: 10%;
    margin: 0 auto;
    padding-bottom: 5vh;
}

h1 {
    text-align: center;
}

.italic-light{
    font-style: italic;
    font-weight: 400;
    display: inline-block;
    font-size: 120%;
    line-height: 170%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.italic-bold{
    font-style: italic;
    font-weight: 600;
    display: inline-block;
    font-size: 120%;
    line-height: 170%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.smaller {
    font-weight: 300;
    font-size: 100%;
    line-height: 170%;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
}

.sm-bold-nodecor { /*small*/
    font-weight: 600;
    font-size: 100%;
    line-height: 170%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.sm-bold-under { /*small*/
    font-weight: 600;
    font-size: 100%;
    line-height: 170%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    text-decoration: underline;
}

.italight-under{ /*small*/
    font-style: italic;
    font-weight: 400;
    font-size: 100%;
    line-height: 170%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    text-decoration: underline;
}

.x-smaller {
    font-weight: 300;
    font-size: 90%;
    font-family: 'Roboto', Arial, sans-serif;
}    


.giant {
    font-size: 600%;
    font-weight: 1000;
    padding: 0;
    margin: 0;
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
    font-weight: 600;
}

/* --- brief description of this project +  the prompt */

.padding1 {
    text-align: center;
    padding: 10vh 15vh;
}

.padding2 {
    text-align: center;
    padding: 8% 5% 5% 5%;
    background-color: #404041;
    margin: 8vh 13vh 10vh 13vh;   
}

.padding2 p{
    text-align: right;
    color: #FFF;
    padding: 0;
    margin: 0;
    margin-right: 4%;

}



/* ---------------------- round box (note) ----------------------- */

.round-box {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #D5D5D5;
    gap: 2%;
    width: 80%;
    box-shadow: 2px 2px 2px gray;
    margin-left: 10%;
    margin-bottom: 5%;

}

.round-box p,  {
    padding-bottom: 2%;
}

/* --------- arrow + it's an app the right solution? -------------*/

.flex-arrow {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 120%;
    padding-bottom: 2vh;
}

.padding3 { /*semi universal padding*/
    text-align: center;
    margin: 0;
    padding: 0 18vh 10vh 18vh;
}

.padding3 p {
    display: inline-block;
    margin: 0;
}

.flex-prompt{
    display: flex;
    gap: 5%;
    padding-bottom: 10vh;

}

.flex-prompt img {
    padding-left: 20%;
    padding-bottom: 20%;
}

.flex-prompt p{
    background-color: #404041;
    color: white;
    margin: 0;
    display: inline-block;
}

.padding4{
    padding: 6%;
    background-color: #404041;
}

/*Narrowing down: use universal parameters + padding3 no code needed*/

/*---------------------Assumptions ----------------------------*/
.rounded-box{
    text-align: center;
    border-radius: 50px;
    border: 2px solid #D5D5D5;
    width: 75%;
    box-shadow: 2px 2px 2px gray;;
    margin: 0 auto;
}

.padding5{
    text-align: center;
    padding: 3vh 5vh;
}

/*--------------- set of rules + salad pic---------------*/

.flex-rules{
    display: flex;
    margin-top: 18vh;
    margin-bottom: 10vh;
}

.list1{
    padding: 8% 6% 6% 6%;
    background-color: rgba(215, 210, 201, 0.47)
}

.list1 li{
    padding-bottom: 3%;
}

/*--------------- Recruiting of Participants---------------*/
.flex-users{
    display: flex;
    padding-top: 3%;
}

.flex-users img{
    padding: 0% 10% 10% 10%;
}

.flex-users p{
    padding: 4% 0% 3% 6%;
}

/*--------------- Diart study Prompt---------------*/

.prompt {
    background-color: #404041;
    color: #FFF;
}

.flex-two-col{
    display: flex;
    flex: 1;
    gap: 10%;
    padding: 2% 0 6% 0;
}

.flex-two-col p {
    text-align: justify;
}

.flex-two-col p:first-child {
    padding-left: 10%;
}

.flex-two-col p:nth-child(2) {
    padding-right: 10%;
}

/*--------------- Some responses---------------*/

.research-responses{
    padding: 3% 0 5% 12%;
}

.research-responses p:nth-child(2) {
    padding-bottom: 3%;
}

.research-responses img:nth-child(3) {
    padding-left: 12%;
}

/*--------------------------- Insights ---------------------*/

.insights {
    padding: 0% 10% 5% 10%;
}

/*-------------------Design Implications ---------------------*/
.big-gray-box{
    margin-top: 3%;
    padding: 4% 2% ;
    background-color: #404041;
}

.flex1, .flex2 {
    display: flex;
    background-color: #404041;
    gap: 3%;
}

.flex1 {
    padding: 2% 14% 2% 8%;
}

.flex2 {
    padding: 2% 9% 2% 18%;
}

.texto, .white {
    color: #fff;
}

.gray1 {
    color: rgb(176, 176, 176);
}

.gray2 {
    color: #7B7B7B;
}

.gp {
    padding-top: 1%;
}

.gp2 {
    padding-top: 2%;
}

/*----Types of diaries, ways of data entry and why the matter-----*/


.flex-arrow2 {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 120%;
    gap: 1%;
    padding-top: 7%;
}

.flex-arrow2 h2 {
    padding-right: 15%;
    text-align: center;
}

.findings-flex {
    display: flex;
    gap: 3%;
    padding: 0% 8% 5% 8%;
}

.findings {
    border-radius: 30px;
    border: 2px solid #EE3D57;
    margin-top: 4%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.findings p:nth-child(1) {
    padding-top: 10%;
    text-align: center;
}

.findings p:nth-child(2) {
    text-align: center;
    padding: 0 13% 5% 13%;
}



/*-----------------------More assumptions----------------------------------*/

.flex-gray-col{
    display: flex;
    padding-bottom: 8%;
}
.grey-tiny-box-left {
    margin-top: 3%;
    background: #404041;
    padding-left: 5%;
}

.side-note1 {
    padding: 3% 10% 0 5%;
}

ul{
    font-weight: 300;
    font-size: 100%;
    line-height: 170%;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
}

/*---------------------Persona ----------------------------------*/

.persona-flex{
    display: flex;
    padding-bottom: 8%;
}

.persona {
    padding-left: 5%;
    padding-right: 15%;
}

.persona h1:nth-child(1) {
    text-align: left;
}

.persona div:nth-child(2) {
    margin-top: 3%;
    border-top: 2px solid #ee3d57;
    width: 20%;
    padding-bottom: 5vh;
}

.persona p:nth-child(3) {
    font-style: italic;
}

/*----------------  Main Features ---------------------------*/

.flex-features{
    display: flex;
    padding-bottom: 8%;
}

.list2 h2 {
    padding-top: 10%;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20%;
}

.list2 {
    padding: 0% 10% 0 20%;
    background-color: rgba(215, 210, 201, 0.47);
    line-height: 3;
}

/*--------------- Design & Iterations ------------------*/

.external-flex {
    display: flex;
    gap: 0;
    padding: 3% 0 8% 0;
}

.internal-flexcol {
    display: flex;
    flex-direction: column;
    padding-left: 8%;
}

.internal-flexcol img{
    padding: 3% 0 1% 0;
    margin: 0;
}

.internal-flexcol p {
    margin: 2% 3% 0 0;
    padding: 0 8% 0 0;
    
}

.external-flex img {
    margin: 0;
    padding: 0 8% 0 0;
}

/*--------------- the signup ------------------*/

.signup-flex {
    display: flex;
    gap: 6%;
    align-items: center;
    padding: 0 20% 8% 25%;
}

/*--------------- the signup ------------------*/

.onboard-flex {
    display: flex;
    padding: 0 5% 8% 8%;
    gap: 3%;
    align-items: flex-start;
}

.parrafo p:nth-child(1) {
    margin-top: 0;
    padding-top: 0;
}

.parrafo p:nth-child(2) {
    line-height: 2;
    padding-right: 4%;
}
.onboard-flex img:nth-child(2) {
    max-height: 90vh;
    max-width: auto;
}

/*--------------- the signup ------------------*/


/*--------------- Types of alerts ------------------*/

/*CREDITS transform to flexbox*/
.credits{
    position: relative;
    height: 20vh;
}

.photo-credits{
    font-size: x-small;
    font-weight: 600;
    display: inline-block;

}

.photographers{
    font-size: x-small;
    font-style: normal;
    font-weight: 200;
    position: absolute;
    left: 20vh;
    top: 0;
    padding-bottom: 5vh;

}


/*FOOTER NAV BAR*/

.foot_navbar {
    display: flex;
    justify-content: space-evenly;
    padding-left: 40vh;
    padding-right: 40vh;

}

/*FOOTER*/

.footer {
    height: 28vh;
    background-color: #EE3D57;
    color: #FFF;
    text-align: center;
}

.footer p {
    font-size: 120%;
    font-weight: 300;
    line-height: 150%;
}