body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/*--------------------temporary-----------------------------------*/

.temporary-element {
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
}

/*--------------------NAV BAR-----------------------------------*/
.navbar {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10vh;
    padding-right: 5%;
    padding-top: 2.5%;

}

a {
    color: black;
    background-color: transparent;
    border: none;
    height: 10vh;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: 100%;

}

a:hover {
    cursor: pointer;
    color: #ee3d57;
}

a:active {
    cursor: pointer;
    color: #ee3d57;
}

/*--------------------- banner----------------------------------*/

.jumbotron {
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.lexmark-banner {
    height: 85vh;
    display: block;
    width: 100%;
}

.jumbotron p {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 800%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    padding-right: 15%;
    padding-left: 7%;
    top: 15%;
    left: 10%;
    /*transform: translate(-50%, -50%);*/
}

.line1 {
    margin-top: 10px;
    border-top: 2px solid white;
    width: 65%;
    text-align: center;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line2 {
    margin-top: 10px;
    border-top: 2px solid white;
    width: 65%;
    text-align: center;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------ End of Diary banner------------------*/

/* ------------------- universal stuff ----------------*/
.normal {
    font-weight: 300;
    font-size: 120%;
    line-height: 170%;
}

.line3 {
    margin-top: 3%;
    border-top: 2px solid #ee3d57;
    width: 10%;
    margin: 0 auto;
    padding-bottom: 5vh;
}

h1 {
    text-align: center;
}

/* --- brief description of this project +  the prompt */

.padding1 {
    text-align: center;
    padding: 10vh 15vh;
}

.padding2 {
    text-align: center;
    padding: 8% 5% 5% 5%;
    background-color: #404041;
    margin-right: 13vh;
    margin-left: 13vh;
    margin-bottom: 10vh;   
}

.padding2 p{
    text-align: right;
    color: #FFF;
    padding: 0;
    margin: 0;
    margin-right: 4%;

}

/* ---------------------- round box (note) ----------------------- */

.round-box {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #D5D5D5;
    gap: 2%;
    width: 80%;
    box-shadow: 2px 2px 2px gray;
    margin-left: 10%;
    margin-bottom: 5%;

}

.round-box p,  {
    padding-bottom: 2%;
}

/* --------- arrow + it's an app the right solution? -------------*/

.flex-arrow {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 120%;
    gap: 5vh;
    padding-bottom: 2vh;
}

.padding3 {
    text-align: center;
    margin: 0;
    padding: 0 15vh 10vh 15vh;
}

.flex-prompt{
    display: flex;
    gap: 5%;
    padding-bottom: 10vh;

}

.flex-prompt img {
    padding-left: 20%;
    padding-bottom: 20%;
}

.flex-prompt p{
    background-color: #404041;
    color: white;
    padding: 6%;
}

/*---------------------ASSUMPTIONS ----------------------------*/

.rounded-box{
    text-align: center;
    border-radius: 50px;
    border: 2px solid #D5D5D5;
    width: 75%;
    box-shadow: 2px 2px 2px gray;;
    margin-bottom: 5%;
    margin: 0 auto;
    
}

.padding4{
    text-align: center;
    padding: 3vh 5vh;
}

