body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

/*to delete later*/
.temporary-element{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

/*NAVEGATION BAR*/

.navbar{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 5vh;
    padding-right: 5%;
    padding-bottom: 2%;
}

button {
background-color: transparent;
border: none;
height: 10vh;
text-decoration: underline;
cursor: pointer;
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
font-size: medium;

}

button:hover{
    color:#ee3d57;
    cursor: pointer;
}


a {
    color: black;
    background-color: transparent;
    border: none;
    height: 10vh;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: 100%;

}

a:hover {
    cursor: pointer;
    color: #ee3d57;
}

a:active {
    cursor: pointer;
    color: #ee3d57;
}
/*end of NAVEGATION BAR*/

@media only screen and (max-width: 576px){
    .navbar, button, a {
        padding-bottom: 0;
        }    
    
}

@media only screen and (min-width: 1281px){
    button {
        font-size:xx-large;
        }    
    
}
/*----------------------- beguinning of styling of section 1-----------------------------------*/

.top-big-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    position: relative;
}

.topright {
    background-color: #404041;
    color: white;
    clip-path: polygon(22% 0, 100% 0, 100% 70%, 62% 100%);
    /*https://bennettfeely.com/clippy/*/
    grid-area: 1 / 4 / 1 / 1;
    position: relative;
}
     
.name-container {
    position: absolute;
    right: 10vh;
    bottom: 5%;
    height: 67%;
    width: 100vh;
    text-align: center;
    padding-bottom: 8vh;
    padding-right: 5vh;  
}

.name-container p {
    margin: 0;
    padding: 0; 
    line-height: 0.9; /* To control spacing */ 
    
}

.name, .lastname { 
    font-size: 100px;
    font-family: Impact, Anton, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p.degree {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: lighter;
    font-size: 21px;
    margin-top: 8px;
}

.topleft { 
    clip-path: polygon(0 44%, 51% 44%, 85% 100%, 0% 100%);
    background-color: #ee3d57;
    grid-area: 1 / 1 / 1 / 3;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.design-statement-container{ /*This invisible container helps to position the design-statement*/
position: absolute;
left: 3%;
bottom: 3%;
height: 60vh; 
width: 80vh;   
}

.design-statement {
/*text-shadow: 1px 1px 1px gray;*/ /* Adds a black shadow to the text */
position: absolute;
font-size: 26px;
top: 30%;
left: 2%;
bottom: 3%;
color: white;
line-height: 1.1; /* To control spacing */
}
    
.line01 {
    margin-top:10px;
    border-top: 3px solid white;
    width: 60%;
    text-align: center;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

 /* Styles for mobile phones */
 @media only screen and (max-width: 576px) {

        .top-big-container {
            display: block;
            height: auto;
            padding-top: 0;
        }

        .topright {
            background-color: #404041;
            color: white;
            position: relative;
            clip-path: none;
            display: block;
            height: 60vh;
            text-align: center;
            vertical-align: middle;
        } 

        .name-container {
            position: relative;
            text-align: center;
            left: 2vh;
            width: auto;
            right: auto; 
            margin-top: 5vh;
            padding-top: 11vh;
            bottom: 0;
            padding-bottom: 0;
        }

        .name {
        margin-top: 3vh;
        padding-top: 7vh;  
        }

        .topleft { 
            clip-path: none;
            position: relative;
            
        }

        .design-statement-container {
            position: relative;
            height: auto;
            right: 5%; 
            width: 100%;
            padding: 3vh 5vh 4vh 2vh;
            margin-right: 3%;

        }

        .design-statement {
            position: inherit; 
            padding-top: 2vh;
            right: 7%;
            padding-bottom: 5vh;
            display: block;
            overflow: wrap;
            width: 85%;
            }
}

/*phones landscape*/

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .top-big-container{
        max-height: 60%;
        
    }    
        
    .name-container{
        top: 4vh; /*new*/
        right: 5vh;
        padding-right: 0;
        text-align: auto;
    }

    .design-statement-container{ 
        height: auto; 
        width: auto;
        bottom: 1vh;   
    }

    .design-statement {
        font-size: 24px;
        top: 34%;
        }
}


/*tablets portrait*/
    @media only screen and (min-width: 769px) and (max-width: 996px) {
    .top-big-container{
        height: 60vh;
    }    
        
    .name-container{
        right: 5vh;
        padding-right: 0;
        text-align: auto;
    }

    .design-statement-container{ 
        height: 30vh; 
        width: 40vh;   
    }

    .design-statement {
        top: 10%;
        }
}


    @media only screen and (min-width: 1281px){
        .name, .lastname { 
            font-size: 200px;
        }
        
        .design-statement {
            font-size: 50px;
            top: 18%
            }
        
    }


/*--------------------- End of styling of section 1-----------------------*/


/* beguinning of styling of section 2 - about section*/
.middle-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;    
}

.photo{
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.picture-profile{
width: 80vh;
height: auto;
display: inline-block; /* Make the image an inline block element, so I can use the text align:center */
vertical-align: middle;    
}

.about{
    padding-top: 20vh;
    padding-left: 5vh;
    padding-right: 15vh;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;   
}



/* Media Query for Mobile Devices */

@media screen and (max-width: 576px) {
    .middle-section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;    
    }
    
    .picture-profile {
        width: 49vh;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-right: 1.5vh;    
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
   
    .picture-profile {
        width: 60%;    
    }
}

@media screen and (max-width: 996px) {
    .middle-section {
        display: flex;
        flex-direction: column;
    }
    
    .about {
        padding: 0vh 6vh 10vh 6vh;  
    }

}

@media only screen and (min-width: 1281px){
    .about {
         font-size: 150%;
         line-height: 40px; 
        }
}

/*---------------------------- end of styling of section 2 - about section-----------------------*/


        /*beguinning of the project section - section 3*/
        
        .project-section{
            background-color: #404041;
            color: white;
            position: relative;
            height: 90vh;   
            }

        .project-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            padding-top: 0;
            border: 0;
            margin: 0;
            column-gap: 0px;
        }

        .project-section {    
            height: 120vh;  
        }

        .line1{
            margin-top:10px;
            border-top: 3px solid white;
            width: 25%;
            text-align: center;
            padding-bottom: 5%;
            margin-left: auto;
            margin-right: auto;
            display: block;

        }

        h1 {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 65px;
            padding-top: 5vh; 
            padding-bottom: 0;
            margin: 0;
            border: 0;
            line-height: 12vh;
        }

        .grid-image{
            width: 80vh;
            display: inline-block;
            text-align: center;
            border: 5px solid white;
            vertical-align: top;   /*this was added to reduced the all gaps betwen the "grid-image" and the "project-name", I had to apply it to both*/
        }


        .project-name{
            width: 82vh;
            height: 10vh;
            margin: 0;
            padding: 0;
            border: 0;
            background-color: #4D4D4D;
            display: inline-block;
            font-family: 'Courier New', Courier, monospace;
            font-size: 25px;
            font-weight: 650;
            text-align: center;
            vertical-align: top; /*this was added to reduced the all gaps betwen the "grid-image" and the "project-name", I had to apply it to both*/
            position: relative;
        }

        .project-name p {
        position: absolute;
        top: 50%;/*this and the left 50% helped me to position in the center*/
        left: 50%;
        transform: translate(-50%, -50%); /*this refines the vertical and horizontal position*/
        margin: 0;
        white-space: nowrap; /*diary study app is was wrapping in two lines and looked funky, this prevents it.*/
        }

        
        /*#LexmarkModal { 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            margin: 0;
            white-space: nowrap; 
            font-family: 'Courier New', Courier, monospace;
            font-size: 25px;
            font-weight: 650;
            text-align: center;
            vertical-align: top;
            color: white;
            text-decoration: none;
        }
        */

        .project-card1{
            text-align: center;
            margin-bottom: 0;
            padding-left: 10vh;
        }

        .project-card2{
            text-align: center;
            margin-bottom: 0;
            padding-right: 10vh;
        }

        .white-space{
            height: 10vh;    
        }


/* Media Query for Mobile Devices portrait*/

@media screen and (max-width: 576px) {
    .project-grid{
        grid-template-columns: 1fr;  
        grid-template-rows: 1fr 1fr; /*Feb. 26 from auto i put especifically 1fr 1fr*/
        padding-bottom: 10vh;
      }
  
      .project-section {    
          height: auto;  
      }
  
      h1{
        font-size: 50px;
      }

      .grid-image{
          width: 98%;
          max-width: 98%;
      }
  
      .project-name{
          width: 100%;
          max-width: 100%;
      }
  
      .project-card1, .project-card2{
          width: 99.5%;
          text-align: center;
          padding: 0;
      }    
}


/*mobile devices landscape*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    .project-grid{
        grid-template-columns: 1fr;  
        grid-template-rows: 1fr 1fr; /*Feb. 26 from auto i put especifically 1fr 1fr*/
        padding-bottom: 10vh;
      }
  
      .project-section {    
          height: auto;  
      }
  
      h1{
        font-size: 60px;
      }

      .grid-image{
          width: 160%;
      }
  
     .project-name{
          width: 160%;
      }
  
      .project-card1, .project-card2 {
          text-align: center;
          padding-left: 15vh;
          padding-right: 5vh;
          width: 100vh;
      }    
}

/*tablets portrait*/
@media screen and (min-width:769px) and (max-width: 996px) {
    
    .project-grid{
      display: flex;  
      flex-direction: column;
      padding-bottom: 10vh;
    }

    .project-section {    
        height: auto;  
    }

    .grid-image{
        width: 70vh;
    }

    .project-name{
        width: 72vh;
    }

    .project-card1{
        text-align: center;
        padding-left: 0;
    }

    .project-card2{
        text-align: center;
        padding-right: 0;
    }
}


@media only screen and (min-width: 1281px) { 
    .project-name{
        width: 81vh;
    }

    #LexmarkModal{
        font-size: 150%;
    }

    .project-name p{ 
        font-size: 150%;
    }

}


/*----------------------End of the project section - section 3------------------*/

        
        /*beguinning of the footer - section 4*/

        .footer-header {
            background-color: #4D4D4D;
            color: white;
            position:relative;
            height: 25vh;
        }



        .footer-content-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            height: 70vh;
        }

        .bottom-right {
            clip-path: polygon(37% 0, 100% 0, 100% 100%, 0% 100%);
            background-color:  #ee3d57;
            grid-area: 1 / 4 / 1 / 2;

        }

        .bottom-left {
           grid-area: 1 / 1 / 1 / 3;
           position: relative;
        }

        .line2 {
            margin-top:10px;
            border-top: 3px solid white;
            width: 25%;
            text-align: center;
            padding-bottom: 3%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .footer-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 25vh;
            padding-left: 30%;
            padding-right: 10%;
            color: white;
            font-weight: 300;
            font-size: 18px;  
        }

        .footer-content p {
            text-align: center;
            margin: 0;  
        }

        .bottom-left p {
            position: absolute;
            bottom: 50%;
            padding-left: 19%;
            padding-right: 10%;

        }

        .linkedin-logo{
            width: 7%;
            position: absolute;
            bottom: 35%;
            padding-left: 30%;
            padding-right: 30%;
        }

        .credits{
            position: relative;
        }

        .personal-touch{
            padding-top: 1vh;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: small;
        }

        .photo-credits{
            font-size: x-small;
            font-weight: 600;

        }

        .photographers{
            font-size: x-small;
            font-style: normal;
            font-weight: 200;
            position: absolute;
            top: 5vh;
            left: 20vh;
            padding-bottom: 5vh;

        }

        li {
            list-style: none;
        }
         
        
/* Media Query for Mobile Devices portrait */
@media screen and (max-width: 576px) {
    
    .footer-content-grid {
        height: 60vh;
    }

    .footer-content {
        padding-top: 12vh;    
    }

    .footer-content {
        padding-left: 35%; 
    }

    .bottom-left p {
        padding-left: 3%;
        word-wrap: break-word;
        padding-right: 25%;
        font-size: 12px;
}

    .photographers {
        padding-bottom: 0;
        top: 8vh;
        left: 24vh;
    }

    .linkedin-logo{
        width: 15%;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
    
    .photographers {
        padding-bottom: 0;
        top: 8vh;
    }
}

@media only screen and (min-width: 1281px){
    .bottom-left p {
        font-size: 200%;
        padding-right: 15%;
}

.footer-content p {
    font-size: 200%; 
}

}


/*-----------------End of the footer - section 4-------------------------*/ 




/*---------------------------------MODAL-------------------------------------*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 45vh;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    justify-content: center; /* Horizontally center the modal */
    align-items: center; /* Vertically center the modal */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin-right: 30vh;
    border: 3px solid #888;
    width: 60%;
    height: 40vh;
    border-radius: 10px;
}

.modal-content h2 {
    background-color: #8a8a8a;
    color: white;
    padding: 2vh 0 2vh 10vh;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    padding-top: 2vh;
    padding-right: 2vh;
    font-size: 180%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.password-style {
    padding-left: 10vh;
}


@media screen and (max-width: 576px) {
    .modal {
        left: 4px;
        width: 600px;
        height: 500px;
    }
    
    .modal-content{
        margin-right: 0;
        padding-left: 5px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .modal {
        left: 10px;
        width: 800px;
        height: 800px;
    }
    
}